@{
    Layout = "~/Views/Shared/Layout/_AdminPage.cshtml";
}
@* @model BookHub_Group5.Models.Domain.books;
 *@
@model List<BookHub_Group5.Models.Domain.books>
<link href="~/css/admin/books.css" rel="stylesheet" />

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-body">
                <div class="book-body">                   
                        <div class="image-file">
                            <img src="" class="add-img" />
                            <input type="file" id="myFile" name="filename" class="file-upload">
                        </div>
                 
                            <div class="information">
                              @*   <label class="info-lbl">Name of Book :</label> *@
                                <input type="text" class="info-txt" placeholder="Name of the Book" />
                            </div>
                            <div class="information">
                              @*   <label class="info-lbl">Book Author :</label> *@
                              <input type="text" class="info-txt" placeholder="Book Author" />
                            </div>
                            <div class="information">
                                @* <label class="info-lbl">Book Price :</label> *@
                               <input type="text" class="info-txt" placeholder=" Book Price" />
                            </div>
                 
                   
                        <div class="information">
                           @*  <label class="info-lbl">Category :</label> *@
                              <input type="text" class="info-txt" placeholder="Category" />
                        </div>
                        <div class="information">
                           @*  <label class="info-lbl">Genre :</label> *@
                          <input type="text" class="info-txt" placeholder="Genre" />
                        </div>
                        <div class="information">
                         @*    <label class="info-lbl">Release Year :</label> *@
                              <input type="text" class="info-txt" placeholder="Release year" />
                        </div>
                        <div class="information desc">
                           @*  <label class="info-lbl desc-lbl">Description :</label> *@
                        <textarea class="info-txt " rows="5" placeholder="Description"></textarea>
                        </div>
                    
                  
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-book">Add Book</button>
                <button type="button" class="btn btn-default btn-book" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div class="books">
    <div class="search-book">
        <div class="search-bar">
            <input type="text" class="search-txt" />
            <i class="fas fa-search"></i>
        </div>
        <div class="buttons">
           @*  <button class="btn-book"><a href="@Url.Action("addBooks", "Admin")"><i class='bx bxs-book-heart'></i>Add Books</a></button> *@
            <button type="button" class="btn  btn-info btn-lg btn-book " data-toggle="modal" data-backdrop="false" data-target="#myModal"><a href="#"><i class='bx bxs-book-heart'></i>Add Books</a></button>
            <button class=" btn btn-info btn-lg btn-book"><a href ="@Url.Action("addBooks", "Admin")"><i class="fas fa-edit"></i>Edit Books</a></button>
            <button class=" btn btn-info btn-lg btn-book"><a href="#"><i class="fas fa-trash"></i>Delete Books</a></button>
        </div>
    </div>
    <div class="book-table">
        <table id="books">
            <thead>
                <tr>
                    <th>Book Name</th>
                    <th>Author</th>
                    <th>Publication Year</th>
                    <th>Genre</th>
                    <th>Price</th>
                    <th> </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var books in Model)
                {
                    <tr>
                        <td>@books.booktitle</td>
                        <td>@books.author</td>
                        <td>@books.publicationyear</td>
                        <td>@books.genre</td>
                        <td>@books.price</td>
                        <td><a asp-controller="Admin" asp-action="View" asp-route-bookid="@books.bookid">View</a></td>

                    </tr>
                    
                }
              
            </tbody>
        </table>
    </div>

</div>

