@{
    ViewData["Title"] = "BookHub - Ebook Online Shop";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @*  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />  *@
    <link href="~/css/index/About.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="~/Images/Book Hub Favicon.png" />
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link href="~/css/index/swiper-bundle.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>
<body>
    <section id="head">
        <header id="navbar">
            <div class="header-logo">
                <a href="@Url.Action("Index", "Home")"> <img src="~/Images/Book Hub Favicon.png" alt="LOGO"></a>
                <a href="@Url.Action("Index", "Home")"><h2>Book<span>HuB</span></h2></a>
            </div>
            <div class="header-nav">
                <nav>
                    <ul>
                        <li><a href="@Url.Action("Index", "Home")">HOME</a></li>
                        <li><a href="@Url.Action("About", "Home")">ABOUT</a></li>
                        <li><a href="@Url.Action("Shop", "Home")">SHOP</a></li>
                        <li><a href="#" id="createRoomLink">CONTACT</a></li>
                    </ul>
                </nav>
            </div>
            <div class="header-login">
                @if (Context.User.Identity.IsAuthenticated)
                {
                    var userEmailClaim = Context.User.Claims.FirstOrDefault(c => c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress");

                    if (userEmailClaim != null)
                    {
                        <a href="@Url.Action("Library", "User")"><i class="fas fa-user"></i></a>
                        <label class="profile-text">@userEmailClaim.Value</label>

                    }
                    else
                    {
                        <label class="profile-text">Email not found</label>
                    }
                }
                else
                {
                    <a href="@Url.Action("Login", "Account")"><i class="fas fa-user"></i></a>
                }
            </div>
        </header>
        <div class="about">
            <div class="left">
                <img src="~/Images/bg2.jpg" style="width:100%">
            </div>
            <div class="right">
               <div class="text">
                   <h2>About Us</h2>
                   <p>
                        Welcome to Your <strong>BookHub</strong>, where a world of knowledge and imagination awaits you! We are passionate about literature and dedicated to bringing you an immersive online platform where you can discover, purchase, and enjoy a vast collection of ebooks.
                        <br />
                        <br />
                        At Your <strong>BookHub</strong>, our mission is to ignite minds and inspire readers by providing a diverse selection of high-quality ebooks across various genres. Whether you're an avid reader seeking the next captivating story, a student looking for educational resources, or a professional aiming to enhance your skills, we have something special for everyone.

                   </p>
               </div>
            </div>
        </div>

    </section>
    <section id="section2">
        <div class="left1">
            <div class="text">
                <h2>Quality and Convenience</h2>
                <p>
                    We take pride in offering ebooks that stand out in terms of quality, content, and relevance. Our carefully curated collection includes works from acclaimed authors, emerging talents, and experts in various fields. We believe in the power of convenience, and our user-friendly platform ensures that you can explore, purchase, and download your favorite ebooks with ease.
                    <br />
                    <br />
                    We distinguish ourselves by curating an exceptional collection that spans diverse perspectives, offers an interactive reading experience, and prioritizes ad-free, distraction-free enjoyment, creating a seamless and personalized haven for book lovers.
                </p>
            </div>
         
        </div>
        <div class="right1">
            <img src="~/Images/bg3.jpg" style="width:100%">
        </div>
    </section>
    <section id="section3">
        <div class="left">
            <img src="~/Images/bg2.jpg" style="width:100%">
        </div>
        <div class="right">
            <div class="text">
                <h2>Customer Satisfaction</h2>
                <p>
                    At Your <strong>BookHub</strong>, we are unwaveringly committed to your satisfaction. Our dedicated customer support team, composed of knowledgeable and friendly experts, is poised to assist you with any inquiries, recommendations, or concerns. We go the extra mile, firmly believing that your experience with us should not merely be satisfactory but rather exceed your expectations. Our goal is to create an environment where your needs are anticipated and promptly addressed. We value the opportunity to assist you in making your literary journey seamless and enjoyable. Trust us to provide support that goes beyond the ordinary, ensuring your time with Your EBOOK Haven is nothing short of exceptional.
                </p>
            </div>
        </div>
    </section>
    <section id="foot">
        <div class="footer">
            <div class="foot-head">
                <h2>HAVE ANY QUESTION?</h2>
            </div>
            <div class="foot-p">
                <p>
                    Please don't hesitate to contact us if you have any inquiries, suggestions, or feedback. We<br />
                    value your input and we are here to assist you with any questions you may have.
                </p>
            </div>
            <div class="foot-btn">
                <button id="createRoomLink2">Contact Us</button>
            </div>
        </div>
        <div class="foot-contact">
            <div class="contact-info">
                <div class="info">
                    <h2>Contact Info</h2>
                    <p><i class="fas fa-envelope"></i> eBook123@gmail.com</p>
                    <p><i class="fas fa-phone-alt"></i> 09111111111</p>
                </div>
            </div>
            <div class="social">
                <div class="info">
                    <h2>Follow Us</h2>
                    <p><i class="fab fa-facebook-f"></i> Facebook</p>
                    <p><i class="fab fa-twitter"></i> Twitter</p>
                </div>
            </div>
        </div>
        <div class="foot-last">
            <span class="far fa-copyright"> 2023 All Rights Reserved</span>
        </div>

    </section>
    <div class="link" id="assignmentContainer">
        <div class="contact-head">
            <h2>Contact Information</h2>
        </div>
        <div class="contact">
            <h3>Contact Number : </h3>
            <p>09111111111</p>
        </div>
        <div class="email">
            <div class="email-info">
                <span>Email : </span>
                <span> eBook123@gmail.com</span>
            </div>
            <div class="email-sender">
                <input type="text" placeholder="Enter your Email" />
            </div>
            <div class="email-sender">
                <input type="text" placeholder="Enter Email Subject" />
            </div>
            <div class="email-content">
                <textarea placeholder="Enter your message here"></textarea>
            </div>
            <div class="email-button">
                <button>Send</button>
                <button id="closeButton">Cancel</button>
            </div>
        </div>
    </div>
    <div id="bg-blur"></div>
    <script>
        document.getElementById('createRoomLink').addEventListener('click', function (e) {
            e.preventDefault();

            var assignmentContainer = document.getElementById('assignmentContainer');
            var backgroundBlur = document.getElementById('bg-blur');

            if (assignmentContainer.style.display === 'none' || assignmentContainer.style.display === '') {
                backgroundBlur.style.display = 'block ';
                assignmentContainer.style.display = 'block';
            } else {
                backgroundBlur.style.display = 'none';
                assignmentContainer.style.display = 'none';
            }
        });


    </script>
    <script>
        document.getElementById('createRoomLink2').addEventListener('click', function (e) {
            e.preventDefault();

            var assignmentContainer = document.getElementById('assignmentContainer');
            var backgroundBlur = document.getElementById('bg-blur');

            if (assignmentContainer.style.display === 'none' || assignmentContainer.style.display === '') {
                backgroundBlur.style.display = 'block ';
                assignmentContainer.style.display = 'block';
            } else {
                backgroundBlur.style.display = 'none';
                assignmentContainer.style.display = 'none';
            }
        });


    </script>
    <script>
        document.getElementById('closeButton').addEventListener('click', function (e) {
            e.preventDefault();

            var assignmentContainer = document.getElementById('assignmentContainer');
            var backgroundBlur = document.getElementById('bg-blur');

            backgroundBlur.style.display = 'none';
            assignmentContainer.style.display = 'none';
        });
    </script>
    <script>
        var lastScrollTop = 0;
        var navbar = document.getElementById("navbar");
        window.addEventListener("scroll", function () {
            var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
            if (scrollTop > lastScrollTop) {
                navbar.style.top = "-80px";

            }
            else {
                navbar.style.top = "0";

            }
            lastScrollTop = scrollTop;
        })
    </script>

</body>
</html>