@{
    ViewData["Title"] = "BookHub - Ebook Online Shop";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
   @*  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />  *@
    <link href="~/css/index/home.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="~/Images/Book Hub Favicon.png" />
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link href="~/css/index/swiper-bundle.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

</head>
<body>
    <section id="head">
        <header id="navbar">
            <div class="header-logo">
                <a href="@Url.Action("Index", "Home")"> <img src="~/Images/Book Hub Favicon.png" alt="LOGO"></a>
                <a href="@Url.Action("Index", "Home")"><h2>Book<span>HuB</span></h2></a>
            </div>
            <div class="header-nav">
                <nav>
                    <ul>
                        <li><a href="@Url.Action("Index", "Home")">HOME</a></li>
                        <li><a href="@Url.Action("About", "Home")">ABOUT</a></li>
                        <li><a href="@Url.Action("Shop", "Home")">SHOP</a></li>
                        <li><a href="#" id="createRoomLink">CONTACT</a></li>
                    </ul>
                </nav>
            </div>
            <div class="header-login">
                @if (Context.User.Identity.IsAuthenticated)
                {
                    var userEmailClaim = Context.User.Claims.FirstOrDefault(c => c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress");

                    if (userEmailClaim != null)
                    {
                        <a href="@Url.Action("Library", "User")"><i class="fas fa-user"></i></a>
                        <label class="profile-text">@userEmailClaim.Value</label>

                    }
                    else
                    {
                        <label class="profile-text">Email not found</label>
                    }
                }
                else
                {
                    <a href="@Url.Action("Login", "Account")"><i class="fas fa-user"></i></a>
                }
            </div>
        </header>
        <div class="main">
            <div class="mySlides fade bg-img">
                <img src="~/Images/bg-ebook.jpg" style="width:100%">
                <div class="tagline">
                    <div class="lines1">  <h2>Find What You Like</h2></div>
                    <div class="lines2"> <p>Explore a world of endless stories in our digital library, where every e-book brings tales to life, one click at a time. Immerse yourself in the magic of reading, all from the comfort of your screen.</p></div>
                    <div class="lines3"> <button><i class="fas fa-shopping-cart"></i>Buy Now</button></div>
                </div>
            </div>
            <div class="mySlides fade bg-img">
                <img src="~/Images/bg1.jpg" style="width:100%">
                <div class="tagline">
                    <div class="lines1">  <h2>Start Your Digital Reading Adventure</h2></div>
                    <div class="lines2">  <p>Embark on your digital reading adventure now and expand your library with every click, as we bring the world of literature to your fingertips.</p></div>
                    <div class="lines3">  <button><i class="fas fa-shopping-cart"></i>Buy Now</button></div>
                </div>
            </div>
            <div class="mySlides fade bg-img">
                <img src="~/Images/bg2.jpg" style="width:100%">
                <div class="tagline">
                    <div class="lines1"><h2>Unlock The Power of Book Reviews</h2></div>
                    <div class="lines2"> <p>Create your account and embark on your literary journey. Let reviews be your compass as you explore the world of e-books with us.</p></div>
                    <div class="lines3"> <button><i class="fas fa-shopping-cart"></i>Buy Now</button></div>
                </div>
            </div>
            <div class="mySlides fade bg-img">
                <img src="~/Images/bg3.jpg" style="width:100%">
                <div class="tagline">
                    <div class="lines1">  <h2>One Click Purchases</h2></div>
                    <div class="lines2">  <p>Simplify your buying experience with one-click PayPal purchases. Enjoy seamless transactions for your favorite e-books with just a single click.</p></div>
                    <div class="lines3"> <button><i class="fas fa-shopping-cart"></i>Buy Now</button></div>
                </div>
            </div>
            <div class="mySlides fade bg-img">
                <img src="~/Images/bg4.jpg" style="width:100%">
                <div class="tagline">
                    <div class="lines1"><h2>Unlocking Worlds, One Click at a Time.</h2></div>
                    <div class="lines2"> <p>Discover a digital library where stories come to life, and explore a world of endless possibilities. Immerse yourself, one e-book at a time, in the magic of storytelling.</p></div>
                    <div class="lines3"><button><i class="fas fa-shopping-cart"></i>Buy Now</button></div>
                </div>
            </div>
        </div>
        <div style="text-align:center; display:none;">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </section>
 <section id="body">
     <div class="category">
         <div class="category-head">
             <div class="view">
                 <h2>Find What You Like</h2>
                 <a href="#">VIEW MORE</a>
             </div>
          </div>
            <div class="category-list">

                <div class="slide-container swiper">
                    <div class="slide-content">
                        <div class="card-wrapper swiper-wrapper">
                            @foreach (var books in Model)
                            {
                                <div class="card swiper-slide">

                                    <div class="image-content">

                                        <div class="card-image">
                                            @if (books.coverimage != null)
                                            {
                                                var base64CoverImage = Convert.ToBase64String(books.coverimage);
                                                <img src="data:image/png;base64,@base64CoverImage" alt="@books.booktitle" />
                                            }
                                            else
                                            {
                                                <p>No Cover Image</p>
                                            }
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <div class="title">
                                            <h1>@books.booktitle</h1>
                                        </div>
                                        <div class="author">
                                            <h3>@books.author</h3>
                                        </div>
                                        <div class="price">
                                            <span>₱@books.price</span>
                                        </div>
                                    </div>

                                </div>
                            }
                        </div>
                    </div>
                    <div class="swiper-button-next swiper-navBtn"></div>
                    <div class="swiper-button-prev swiper-navBtn"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
  </section>
  <section id="foot">
        <div class="footer">
            <div class="foot-head">
                <h2>HAVE ANY QUESTION?</h2>
            </div>
            <div class="foot-p">
                <p>Please don't hesitate to contact us if you have any inquiries, suggestions, or feedback. We<br />
                    value your input and we are here to assist you with any questions you may have.
                </p>
            </div>
            <div class="foot-btn">
                <button id="createRoomLink2">Contact Us</button>
            </div>
        </div>
        <div class="foot-contact">
            <div class="contact-info">
                <div class="info">
                <h2>Contact Info</h2>
                    <p>
                        <i class="fas fa-envelope"></i> bookhubofficialcontact@gmail.com
                    </p>
                    <p><i class="fas fa-phone-alt"></i> 09111111111</p>
                </div>
            </div>
            <div class="social">
                <div class="info">
                <h2>Follow Us</h2>
                    <p><i class="fab fa-facebook-f"></i> Facebook</p>
                    <p><i class="fab fa-twitter"></i> Twitter</p>
                </div>
            </div>
        </div>
        <div class="foot-last">
            <span class="far fa-copyright"> 2023 All Rights Reserved</span>
        </div>
        <form asp-controller="Home" asp-action="SendContactEmail" method="post">
        <div class="link" id="assignmentContainer">
            <div class="contact-head">
                <h2>Contact Information</h2>
            </div>
            <div class="contact">
                <h3>Contact Number : </h3>
                <p>09111111111</p>
            </div>
            <div class="email">
                <div class="email-info">
                    <span>Email : </span>
                    <span> eBook123@gmail.com</span>
                </div>

                <div class="email-sender">
                    <input type="text" placeholder="Enter your Email" />
                </div>
                <div class="email-sender">
                    <input type="text" placeholder="Enter Email Subject" />
                </div>
                <div class="email-content">
                    <textarea placeholder="Enter your message here"></textarea>
                </div>
                <div class="email-button">
                    <button>Send</button>
                    <button id="closeButton">Cancel</button>
                </div>
            </div>
         </div>
         </form>
        <div id="bg-blur"></div>
  </section>

    <script>
        document.getElementById('createRoomLink').addEventListener('click', function (e) {
            e.preventDefault();

            var assignmentContainer = document.getElementById('assignmentContainer');
            var backgroundBlur = document.getElementById('bg-blur');

            if (assignmentContainer.style.display === 'none' || assignmentContainer.style.display === '') {
                backgroundBlur.style.display = 'block ';
                assignmentContainer.style.display = 'block';
            } else {
                backgroundBlur.style.display = 'none';
                assignmentContainer.style.display = 'none';
            }
        });


    </script>
    <script>
        document.getElementById('createRoomLink2').addEventListener('click', function (e) {
            e.preventDefault();

            var assignmentContainer = document.getElementById('assignmentContainer');
            var backgroundBlur = document.getElementById('bg-blur');

            if (assignmentContainer.style.display === 'none' || assignmentContainer.style.display === '') {
                backgroundBlur.style.display = 'block ';
                assignmentContainer.style.display = 'block';
            } else {
                backgroundBlur.style.display = 'none';
                assignmentContainer.style.display = 'none';
            }
        });


    </script>
    <script>
        document.getElementById('closeButton').addEventListener('click', function (e) {
            e.preventDefault();

            var assignmentContainer = document.getElementById('assignmentContainer');
            var backgroundBlur = document.getElementById('bg-blur');

            backgroundBlur.style.display = 'none';
            assignmentContainer.style.display = 'none';
        });
        </script>
    <script>
        var swiper = new Swiper(".slide-content", {
            slidesPerView: 4,
            spaceBetween: 15,
            loop: true,
            centerSlide: 'true',
            fade: 'true',
            grabCursor: 'true',
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
                dynamicBullets: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            breakpoints: {
                0: {
                    slidesPerView: 1,
                },
                520: {
                    slidesPerView: 3,
                },
                950: {
                    slidesPerView: 4,
                },
            },
        });
        </script>
        <script>
            var lastScrollTop = 0;
            var navbar = document.getElementById("navbar");
            window.addEventListener("scroll", function(){
                var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
                if (scrollTop > lastScrollTop){
                    navbar.style.top = "-80px";
             
                }
                else{
                    navbar.style.top = "0";
                   
                }
                lastScrollTop = scrollTop;
            })
            </script>
    <script>
        

        let slideIndex = 0;
        showSlides();
        function showSlides() {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) { slideIndex = 1 }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            setTimeout(showSlides, 10000);
        }
    </script>
    @* <script src="~/css/index/swiper-bundle.min.js"></script> *@
  
</body>
</html>