@{
    ViewData["Title"] = "BookHub - Ebook Online Shop";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
   @*  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />  *@
    <link href="~/css/index/home.css" rel="stylesheet" />
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link href="~/css/index/swiper-bundle.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>
<body>
    <section id="head">
        <header>
            <div class="header-logo">
                <img src="~/Images/main-logo.png" alt="LOGO">
                <h2>Book<span>HuB</span></h2>
            </div>
            <div class="header-nav">
                <nav>
                    <ul>
                        <li><a href="@Url.Action("Index", "Home")">HOME</a></li>
                        <li><a href="@Url.Action("About", "Home")">ABOUT</a></li>
                        <li><a href="@Url.Action("Shop", "Home")">SHOP</a></li>
                        <li><a href="#">CONTACT</a></li>
                    </ul>
                </nav>
            </div>
            <div class="header-login">
                <i class="fas fa-search"></i>
               <a href="@Url.Action("Login", "Account")"><i class="fas fa-user"></i></a>
                <i class="fas fa-shopping-cart"></i>
            </div>
        </header>
        <div class="main">
            <div class="mySlides fade bg-img">
                <img src="~/Images/bg-ebook.jpg" style="width:100%">
                <div class="tagline">
                    <div class="lines1">  <h2>Find What You Like</h2></div>
                    <div class="lines2"> <p>Explore a world of endless stories in our digital library, where every e-book brings tales to life, one click at a time. Immerse yourself in the magic of reading, all from the comfort of your screen.</p></div>
                    <div class="lines3"> <button><i class="fas fa-shopping-cart"></i>Buy Now</button></div>
                </div>
            </div>
            <div class="mySlides fade bg-img">
                <img src="~/Images/bg1.jpg" style="width:100%">
                <div class="tagline">
                    <div class="lines1">  <h2>Start Your Digital Reading Adventure</h2></div>
                    <div class="lines2">  <p>Embark on your digital reading adventure now and expand your library with every click, as we bring the world of literature to your fingertips.</p></div>
                    <div class="lines3">  <button><i class="fas fa-shopping-cart"></i>Buy Now</button></div>
                </div>
            </div>
            <div class="mySlides fade bg-img">
                <img src="~/Images/bg2.jpg" style="width:100%">
                <div class="tagline">
                    <div class="lines1"><h2>Unlock The Power of Book Reviews</h2></div>
                    <div class="lines2"> <p>Create your account and embark on your literary journey. Let reviews be your compass as you explore the world of e-books with us.</p></div>
                    <div class="lines3"> <button><i class="fas fa-shopping-cart"></i>Buy Now</button></div>
                </div>
            </div>
            <div class="mySlides fade bg-img">
                <img src="~/Images/bg3.jpg" style="width:100%">
                <div class="tagline">
                    <div class="lines1">  <h2>One Click Purchases</h2></div>
                    <div class="lines2">  <p>Simplify your buying experience with one-click PayPal purchases. Enjoy seamless transactions for your favorite e-books with just a single click.</p></div>
                    <div class="lines3"> <button><i class="fas fa-shopping-cart"></i>Buy Now</button></div>
                </div>
            </div>
            <div class="mySlides fade bg-img">
                <img src="~/Images/bg4.jpg" style="width:100%">
                <div class="tagline">
                    <div class="lines1"><h2>Unlocking Worlds, One Click at a Time.</h2></div>
                    <div class="lines2"> <p>Discover a digital library where stories come to life, and explore a world of endless possibilities. Immerse yourself, one e-book at a time, in the magic of storytelling.</p></div>
                    <div class="lines3"><button><i class="fas fa-shopping-cart"></i>Buy Now</button></div>
                </div>
            </div>
        </div>
        <div style="text-align:center; display:none;">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </section>
 <section id="body">
     <div class="category">
         <div class="category-head">
             <div class="view">
                 <h2>Find What You Like</h2>
                 <a href="#">VIEW MORE</a>
             </div>
          </div>
       <div class="category-list">
        <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <div class="card-image">
                                <img src="~/Images/bg3.jpg" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                           <div class="title">
                               <h1>Return of the Mount Hua Sect</h1>
                           </div>
                           <div class="author">
                               <h3>Mark Gervic Arca</h3>
                           </div>
                           <div class="price">
                               <span>PRICE 200</span>
                           </div>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="~/Images/bg4.jpg" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                          <div class="title">
                               <h1>Return of the Mount Hua Sect</h1>
                           </div>
                           <div class="author">
                               <h3>Mark Gervic Arca</h3>
                           </div>
                           <div class="price">
                               <span>PRICE 200</span>
                           </div>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="~/Images/bg4.jpg" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                           <div class="title">
                               <h1>Return of the Mount Hua Sect</h1>
                           </div>
                           <div class="author">
                               <h3>Mark Gervic Arca</h3>
                           </div>
                           <div class="price">
                               <span>PRICE 200</span>
                           </div>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="~/Images/bg3.jpg" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                          <div class="title">
                               <h1>Return of the Mount Hua Sect</h1>
                           </div>
                           <div class="author">
                               <h3>Mark Gervic Arca</h3>
                           </div>
                           <div class="price">
                               <span>PRICE 200</span>
                           </div>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <!--<img src="images/profile5.jpg" alt="" class="card-img">-->
                            </div>
                        </div>
                        <div class="card-content">
                           <div class="title">
                               <h1>Return of the Mount Hua Sect</h1>
                           </div>
                           <div class="author">
                               <h3>Mark Gervic Arca</h3>
                           </div>
                           <div class="price">
                               <span>PRICE 200</span>
                           </div>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <!--<img src="images/profile6.jpg" alt="" class="card-img">-->
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="title">
                               <h1>Return of the Mount Hua Sect</h1>
                           </div>
                           <div class="author">
                               <h3>Mark Gervic Arca</h3>
                           </div>
                           <div class="price">
                               <span>PRICE 200</span>
                           </div>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <!--<img src="images/profile7.jpg" alt="" class="card-img">-->
                            </div>
                        </div>
                        <div class="card-content">
                          <div class="title">
                               <h1>Return of the Mount Hua Sect</h1>
                           </div>
                           <div class="author">
                               <h3>Mark Gervic Arca</h3>
                           </div>
                           <div class="price">
                               <span>PRICE 200</span>
                           </div>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <!--<img src="images/profile8.jpg" alt="" class="card-img">-->
                            </div>
                        </div>
                        <div class="card-content">
                           <div class="title">
                               <h1>Return of the Mount Hua Sect</h1>
                           </div>
                           <div class="author">
                               <h3>Mark Gervic Arca</h3>
                           </div>
                           <div class="price">
                               <span>PRICE 200</span>
                           </div>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <!--<img src="images/profile9.jpg" alt="" class="card-img">-->
                            </div>
                        </div>
                        <div class="card-content">
                           <div class="title">
                               <h1>Return of the Mount Hua Sect</h1>
                           </div>
                           <div class="author">
                               <h3>Mark Gervic Arca</h3>
                           </div>
                           <div class="price">
                               <span>PRICE 200</span>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>
       </div>
     </div>
  </section>
  <section id="foot">
        <footer>
            <div class="main-content">
                <div class="left box">
                    <h2>About us</h2>
                    <div class="content">
                        <p>At BookHub, we are driven by a passion for literature and a commitment to creating a welcoming space where book enthusiasts can explore a diverse collection of ebooks, fostering a community that celebrates the joy of reading and the beauty of storytelling.</p>
                        <div class="social">
                            <a href="https://facebook.com/coding.np"><span class="fab fa-facebook-f"></span></a>
                            <a href="#"><span class="fab fa-twitter"></span></a>
                            <a href="https://instagram.com/coding.np"><span class="fab fa-instagram"></span></a>
                            <a href="https://youtube.com/c/codingnepal"><span class="fab fa-youtube"></span></a>
                        </div>
                    </div>
                </div>
                <div class="center box">
                    <h2>Address</h2>
                    <div class="content">
                        <div class="place">
                            <span class="fas fa-map-marker-alt"></span>
                            <span class="text">Birendranagar, Surkhet</span>
                        </div>
                        <div class="phone">
                            <span class="fas fa-phone-alt"></span>
                            <span class="text">+089-765432100</span>
                        </div>
                        <div class="email">
                            <span class="fas fa-envelope"></span>
                            <span class="text">abc@example.com</span>
                        </div>
                    </div>
                </div>
                <div class="right box">
                    <h2>Contact us</h2>
                    <div class="content">
                        <form action="#">
                            <div class="email">
                                <div class="text">Email *</div>
                                <input type="email" required>
                            </div>
                            <div class="msg">
                                <div class="text">Message *</div>
                                <textarea rows="2" cols="25" required></textarea>
                            </div>
                            <div class="btn">
                                <button type="submit">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <center>
                    <span class="credit"><a href="@Url.Action("Index", "Home")">www.bookhub.com</a> | </span>
                    <span class="far fa-copyright"></span><span> 2023 All rights reserved.</span>
                </center>
            </div>
        </footer>
  </section>
    <script>
        var swiper = new Swiper(".slide-content", {
            slidesPerView: 4,
            spaceBetween: 15,
            loop: true,
            centerSlide: 'true',
            fade: 'true',
            grabCursor: 'true',
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
                dynamicBullets: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            breakpoints: {
                0: {
                    slidesPerView: 1,
                },
                520: {
                    slidesPerView: 3,
                },
                950: {
                    slidesPerView: 4,
                },
            },
        });
        </script>
    <script>
        

        let slideIndex = 0;
        showSlides();
        function showSlides() {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) { slideIndex = 1 }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            setTimeout(showSlides, 10000);
        }
    </script>
    @* <script src="~/css/index/swiper-bundle.min.js"></script> *@
  
</body>
</html>