@{
    ViewData["Title"] = "BookHub - Ebook Online Shop";
}
@model List<BookHub_Group5.Models.Domain.books>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @*  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />  *@
    <link href="~/css/index/shop.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="~/Images/Book Hub Favicon.png" />
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link href="~/css/index/swiper-bundle.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</head>
<body>
    <section id="head">
    <header>
        <div class="header-logo">
                <a href="@Url.Action("Index", "Home")"> <img src="~/Images/Book Hub Favicon.png" alt="LOGO"></a>
                <a href="@Url.Action("Index", "Home")"><h2>Book<span>HuB</span></h2></a>
        </div>
        <div class="header-nav">
            <nav>
                <ul>
                    <li><a href="@Url.Action("Index", "Home")">HOME</a></li>
                    <li><a href="@Url.Action("About", "Home")">ABOUT</a></li>
                    <li><a href="@Url.Action("Shop", "Home")">SHOP</a></li>
                    <li><a href="#" id="createRoomLink">CONTACT</a></li>
                </ul>
            </nav>
        </div>
        <div class="header-login">

                @if (Context.User.Identity.IsAuthenticated)
                {
                    var userEmailClaim = Context.User.Claims.FirstOrDefault(c => c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress");

                    if (userEmailClaim != null)
                    {
                        <a href="@Url.Action("Library", "User")"><i class="fas fa-user"></i></a>
                        <label class="profile-text">@userEmailClaim.Value</label>

                    }
                    else
                    {
                        <label class="profile-text">Email not found</label>
                    }
                }
                else
                {
                    <a href="@Url.Action("Login", "Account")"><i class="fas fa-user"></i></a>
                }
            </div>
    </header>

    <div class="main">
        <div class="sidebar">
            <div class="filter">           
                <div class="filter-txt">
                    <h2>Filter Categories</h2>
                </div>
                <div class="category">
                     <input type="checkbox">
                     <label for=""> All</label><br>
                </div>
                 <div class="category">
                     <input type="checkbox" >
                     <label for=""> Romance</label><br>
                </div>
                 <div class="category">
                     <input type="checkbox">
                     <label for="">Fiction</label><br>
                </div>
                 <div class="category">
                     <input type="checkbox">
                     <label for=""> Fantasy</label><br>
                </div>
                 <div class="category">
                     <input type="checkbox" >
                     <label for=""> Crime</label><br>
                </div>
                 <div class="category">
                     <input type="checkbox" >
                     <label for=""> History</label><br>
                </div>
            </div>
        </div>


            <div class="main-content">
                <div class="search">
                    <input type="text" class="search-txt" id="searchInput" placeholder="Search" />
                    <i class="fas fa-search"></i>
                </div>
                <div class="book-list">
                    @foreach (var books in Model)
                    {
                        <div class="book-card">
                            <div class="book-image">
                                @if (books.coverimage != null)
                                {
                                    var base64CoverImage = Convert.ToBase64String(books.coverimage);
                                    <img src="data:image/png;base64,@base64CoverImage" alt="@books.booktitle" />
                                }
                                else
                                {
                                    <p>No Cover Image</p>
                                }
                            </div>
                            <div class="book-details">
                                <div class="title">
                                    <h2>@books.booktitle</h2>
                                </div>
                                <div class="author">
                                    <p>Author: @books.author</p>
                                </div>
                                <div class="genre">
                                    <p>Genre: @books.genre</p>
                                </div>
                                <div class="price">
                                    <p>₱@books.price</p>
                                </div>
                                <div class="btn">
                                    <a asp-controller="Home" asp-action="BookDetails" asp-route-bookid="@books.bookid">View</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <script>
                $(document).ready(function () {
                    $("#searchInput").on("keyup", function () {
                        var value = $(this).val().toLowerCase();
                        $(".book-card").filter(function () {
                            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                        });
                    });
                });
            </script>
           

    </section>
    <div class="link" id="assignmentContainer">
        <div class="contact-head">
            <h2>Contact Information</h2>
        </div>
        <div class="contact">
            <h3>Contact Number : </h3>
            <p>09111111111</p>
        </div>
        <div class="email">
            <div class="email-info">
                <span>Email : </span>
                <span> eBook123@gmail.com</span>
            </div>
            <div class="email-sender">
                <input type="text" placeholder="Enter your Email" />
            </div>
            <div class="email-sender">
                <input type="text" placeholder="Enter Email Subject" />
            </div>
            <div class="email-content">
                <textarea placeholder="Enter your message here"></textarea>
            </div>
            <div class="email-button">
                <button>Send</button>
                <button id="closeButton">Cancel</button>
            </div>
        </div>
    </div>
    <div id="bg-blur"></div>
    <script>
        document.getElementById('createRoomLink').addEventListener('click', function (e) {
            e.preventDefault();

            var assignmentContainer = document.getElementById('assignmentContainer');
            var backgroundBlur = document.getElementById('bg-blur');

            if (assignmentContainer.style.display === 'none' || assignmentContainer.style.display === '') {
                backgroundBlur.style.display = 'block ';
                assignmentContainer.style.display = 'block';
            } else {
                backgroundBlur.style.display = 'none';
                assignmentContainer.style.display = 'none';
            }
        });


    </script>
    <script>
        document.getElementById('closeButton').addEventListener('click', function (e) {
            e.preventDefault();

            var assignmentContainer = document.getElementById('assignmentContainer');
            var backgroundBlur = document.getElementById('bg-blur');

            backgroundBlur.style.display = 'none';
            assignmentContainer.style.display = 'none';
        });
    </script>
   
</body>
</html>