@{
    ViewData["Title"] = "BookHub - Ebook Online Shop";
}
@model List<BookHub_Group5.Models.Domain.books>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @*  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />  *@
    <link href="~/css/index/shop.css" rel="stylesheet" />
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link href="~/css/index/swiper-bundle.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>
<body>
    <section id="head">
    <header>
        <div class="header-logo">
           <img src="~/Images/Book Hub Favicon.png" alt="LOGO">
            <h2>Book<span>HuB</span></h2>
        </div>
        <div class="header-nav">
            <nav>
                <ul>
                    <li><a href="@Url.Action("Index", "Home")">HOME</a></li>
                    <li><a href="@Url.Action("About", "Home")">ABOUT</a></li>
                    <li><a href="@Url.Action("Shop", "Home")">SHOP</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </nav>
        </div>
            <div class="header-login">
                <i class="fas fa-search"></i>
                @if (Context.User.Identity.IsAuthenticated)
                {
                    var userEmailClaim = Context.User.Claims.FirstOrDefault(c => c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress");

                    if (userEmailClaim != null)
                    {
                        <a href="@Url.Action("Library", "User")"><i class="fas fa-user"></i></a>
                        <label class="profile-text">@userEmailClaim.Value</label>

                    }
                    else
                    {
                        <label class="profile-text">Email not found</label>
                    }
                }
                else
                {
                    <a href="@Url.Action("Login", "Account")"><i class="fas fa-user"></i></a>
                }
                <i class="fas fa-shopping-cart"></i>
            </div>

    </header>

    <div class="main">
        <div class="sidebar">
            <div class="filter">           
                <div class="filter-txt">
                    <h2>Filter Categories</h2>
                </div>
                <div class="category">
                     <input type="checkbox">
                     <label for=""> All</label><br>
                </div>
                 <div class="category">
                     <input type="checkbox" >
                     <label for=""> Romance</label><br>
                </div>
                 <div class="category">
                     <input type="checkbox">
                     <label for="">Fiction</label><br>
                </div>
                 <div class="category">
                     <input type="checkbox">
                     <label for=""> Fantasy</label><br>
                </div>
                 <div class="category">
                     <input type="checkbox" >
                     <label for=""> Crime</label><br>
                </div>
                 <div class="category">
                     <input type="checkbox" >
                     <label for=""> History</label><br>
                </div>
            </div>
        </div>
        <div class="main-content">
                <div class="search">
                   <input type="text" class="search-txt" />
                    <i class="fas fa-search"></i>
                </div>
                <div class="book-list">
                    @foreach (var books in Model)
                    {
                        <div class="book-card">
                            <div class="book-image">
                                @if (books.coverimage != null)
                                {
                                    var base64CoverImage = Convert.ToBase64String(books.coverimage);
                                    <img src="data:image/png;base64,@base64CoverImage" alt="@books.booktitle" />
                                }
                                else
                                {
                                    <p>No Cover Image</p>
                                }
                            </div>
                            <div class="book-details">
                                <div class="title">
                                    <h2>@books.booktitle</h2>
                                </div>
                                <div class="author">
                                    <p>Author: @books.author</p>
                                </div>
                             
                                <div class="genre">
                                    <p>Genre: @books.genre</p>
                                </div>
                                <div class="price">
                                    <p>₱@books.price</p>
                                </div>
                                <div class="btn">
                                    <a asp-controller="Home" asp-action="BookDetails" asp-route-bookid="@books.bookid">View</a>
</div>
                            </div>
                        </div>
                    }
                </div>



             </div>
    
        </div>


    </section>
</body>
</html>