@{
    Layout = "~/Views/Shared/Layout/_UserPage.cshtml";
}
@model List<BookHub_Group5.Models.Domain.sales>

<link href="~/css/user/library.css" rel="stylesheet" />

<div class="library">
    <div class="search-book">
        <div class="search-bar">
            <input type="text" class="search-txt" />
            <i class="fas fa-search"></i>
        </div>
        <div class="buttons">
            <div class="custom-select">
                <select>
                    <option value="0">Filter Category:</option>
                    <option value="2">All Category</option>
                    <option value="2">Fantasy</option>
                    <option value="3">Fiction</option>
                    <option value="4">Non-Fiction</option>
                    <option value="5">Thriller</option>
                    <option value="6">Novel</option>
                </select>
            </div>
        </div>
    </div>


    <div class="book-list">
        @foreach (var sales in Model)
        {
            <div class="book-card">
                <div class="book-image">
                    @if (sales.CoverImage != null)
                    {
                        var base64CoverImage = Convert.ToBase64String(sales.CoverImage);
                        <img src="data:image/png;base64,@base64CoverImage" alt="@sales.BookTitle" />
                    }
                    else
                    {
                        <p>No Cover Image</p>
                    }
                </div>
                <div class="book-details">
                    <div class="title">
                        <h2>@sales.BookTitle</h2>
                    </div>
                    <div class="author">
                        <p>Author: @sales.Author</p>
                    </div>

                    <div class="genre">
                        <p>Genre: @sales.Genre</p>
                    </div>
                   
                    <div class="btn">
                        <a asp-controller="Home" asp-action="BookDetails" asp-route-bookid="@sales.BookId">View</a>
                    </div>
                </div>
            </div>
        }
    </div>
  @*   <div class="book-list">
        <div class="book-card">
            <div class="book-image">
                <img src="~/Images/SHAN.jpg" alt="BOOK" />
            </div>
            <div class="book-details">
                <div class="title">
                    <h2>ONE PIECE</h2>
                </div>
                <div class="category">
                    <h3> ANIME </h3>
                </div>
                <div class="genre">
                    <h3> ACTION, FANTASY</h3>
                </div>
                <div class="btn">
                    <button>Read Now</button>
                </div>
            </div>
        </div>
        <div class="book-card">
            <div class="book-image">
                <img src="~/Images/SHAN.jpg" alt="BOOK" />
            </div>
            <div class="book-details">
                <div class="title">
                    <h2>ONE PIECE</h2>
                </div>
                <div class="category">
                    <h3> ANIME </h3>
                </div>
                <div class="genre">
                    <h3> ACTION, FANTASY</h3>
                </div>
                <div class="btn">
                    <button>Read Now</button>
                </div>
            </div>
        </div>
        <div class="book-card">
            <div class="book-image">
                <img src="~/Images/SHAN.jpg" alt="BOOK" />
            </div>
            <div class="book-details">
                <div class="title">
                    <h2>ONE PIECE</h2>
                </div>
                <div class="category">
                    <h3> ANIME </h3>
                </div>
                <div class="genre">
                    <h3> ACTION, FANTASY</h3>
                </div>
                <div class="btn">
                    <button>Read Now</button>
                </div>
            </div>
        </div>
        <div class="book-card">
            <div class="book-image">
                <img src="~/Images/SHAN.jpg" alt="BOOK" />
            </div>
            <div class="book-details">
                <div class="title">
                    <h2>ONE PIECE</h2>
                </div>
                <div class="category">
                    <h3> ANIME </h3>
                </div>
                <div class="genre">
                    <h3> ACTION, FANTASY</h3>
                </div>
                <div class="btn">
                    <button>Read Now</button>
                </div>
            </div>
        </div>
        <div class="book-card">
            <div class="book-image">
                <img src="~/Images/SHAN.jpg" alt="BOOK" />
            </div>
            <div class="book-details">
                <div class="title">
                    <h2>ONE PIECE</h2>
                </div>
                <div class="category">
                    <h3> ANIME </h3>
                </div>
                <div class="genre">
                    <h3> ACTION, FANTASY</h3>
                </div>
                <div class="btn">
                    <button>Read Now</button>
                </div>
            </div>
        </div>
        <div class="book-card">
            <div class="book-image">
                <img src="~/Images/SHAN.jpg" alt="BOOK" />
            </div>
            <div class="book-details">
                <div class="title">
                    <h2>ONE PIECE</h2>
                </div>
                <div class="category">
                    <h3> ANIME </h3>
                </div>
                <div class="genre">
                    <h3> ACTION, FANTASY</h3>
                </div>
                <div class="btn">
                    <button>Read Now</button>
                </div>
            </div>
        </div>
        <div class="book-card">
            <div class="book-image">
                <img src="~/Images/SHAN.jpg" alt="BOOK" />
            </div>
            <div class="book-details">
                <div class="title">
                    <h2>ONE PIECE</h2>
                </div>
                <div class="category">
                    <h3> ANIME </h3>
                </div>
                <div class="genre">
                    <h3> ACTION, FANTASY</h3>
                </div>
                <div class="btn">
                    <button>Read Now</button>
                </div>
            </div>
        </div>
        <div class="book-card">
            <div class="book-image">
                <img src="~/Images/SHAN.jpg" alt="BOOK" />
            </div>
            <div class="book-details">
                <div class="title">
                    <h2>ONE PIECE</h2>
                </div>
                <div class="category">
                    <h3> ANIME </h3>
                </div>
                <div class="genre">
                    <h3> ACTION, FANTASY</h3>
                </div>
                <div class="btn">
                    <button>Read Now</button>
                </div>
            </div>
        </div>
    </div> *@
</div>


<script>
    var x, i, j, l, ll, selElmnt, a, b, c;
    x = document.getElementsByClassName("custom-select");
    l = x.length;
    for (i = 0; i < l; i++) {
        selElmnt = x[i].getElementsByTagName("select")[0];
        ll = selElmnt.length;
        a = document.createElement("DIV");
        a.setAttribute("class", "select-selected");
        a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
        x[i].appendChild(a);
        b = document.createElement("DIV");
        b.setAttribute("class", "select-items select-hide");
        for (j = 1; j < ll; j++) {
            c = document.createElement("DIV");
            c.innerHTML = selElmnt.options[j].innerHTML;
            c.addEventListener("click", function (e) {
                var y, i, k, s, h, sl, yl;
                s = this.parentNode.parentNode.getElementsByTagName("select")[0];
                sl = s.length;
                h = this.parentNode.previousSibling;
                for (i = 0; i < sl; i++) {
                    if (s.options[i].innerHTML == this.innerHTML) {
                        s.selectedIndex = i;
                        h.innerHTML = this.innerHTML;
                        y = this.parentNode.getElementsByClassName("same-as-selected");
                        yl = y.length;
                        for (k = 0; k < yl; k++) {
                            y[k].removeAttribute("class");
                        }
                        this.setAttribute("class", "same-as-selected");
                        break;
                    }
                }
                h.click();
            });
            b.appendChild(c);
        }
        x[i].appendChild(b);
        a.addEventListener("click", function (e) {
            e.stopPropagation();
            closeAllSelect(this);
            this.nextSibling.classList.toggle("select-hide");
            this.classList.toggle("select-arrow-active");
        });
    }
    function closeAllSelect(elmnt) {
        var x, y, i, xl, yl, arrNo = [];
        x = document.getElementsByClassName("select-items");
        y = document.getElementsByClassName("select-selected");
        xl = x.length;
        yl = y.length;
        for (i = 0; i < yl; i++) {
            if (elmnt == y[i]) {
                arrNo.push(i)
            } else {
                y[i].classList.remove("select-arrow-active");
            }
        }
        for (i = 0; i < xl; i++) {
            if (arrNo.indexOf(i)) {
                x[i].classList.add("select-hide");
            }
        }
    }

    document.addEventListener("click", closeAllSelect);

</script>
